version: "3.8"

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile.prod
    volumes:
      - ./server:/app
      - /app/node_modules
      - server_data:/app/uploads
    ports:
      - "5000:5000"
    depends_on:
      - db

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.prod
    volumes:
      - ./client:/app
      - /app/node_modules
    ports:
      - "4000:4000"

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - server
      - client
      - phpmyadmin

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: camagru
      MYSQL_USER: admin
      MYSQL_PASSWORD: 1234
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: 1234
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  db_data:
  server_data:
