version: "3.8"

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    volumes:
      - ./server:/app
    ports:
      - "5000:5000"
    networks:
      - camagru-network
    depends_on:
      - db

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.staging
    volumes:
      - ./client:/app
    networks:
      - camagru-network
    ports:
      - "4173:4173"

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/default.staging.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    networks:
      - camagru-network
    depends_on:
      - server
      - client
      - adminer

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: camagru
      MYSQL_USER: admin
      MYSQL_PASSWORD: 1234
    ports:
      - "3306:3306"
    networks:
      - camagru-network
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer
    ports:
      - 8080:8080
    environment:
      - ADMINER_DEFAULT_SERVER=db
    depends_on:
      - db
    networks:
      - camagru-network
    restart: always

volumes:
  db_data:

networks:
  camagru-network:
    name: camagru-network
    driver: bridge
