#post-comments {
	height: 100%;
	position: relative;
	display: grid;
	grid-template-rows: 30px auto 60px;
	grid-template-areas: "header" "comments" "footer";
	padding-top: 10px;
	gap: 5px;

	@include mobile {
		box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.3);
	}

	#post-comments-header {
		grid-area: header;
		display: flex;
		justify-content: center;
		height: 100%;
		align-items: center;

		.close-comments {
			cursor: pointer;
			position: absolute;
			right: 10px;
		}
	}

	#post-comments-content {
		grid-area: comments;
		overflow-y: auto;
		padding-inline: 10px;
	}

	#post-comments-footer {
		grid-area: footer;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid var(--bulma-skeleton-background);
		height: 100%;
		width: 100%;

		>.field {
			width: 100%;
			margin-inline: 10px;
		}
	}

}
