.post-container {
  scroll-snap-align: center;
  height: 100%;
  position: relative;

  >.post-media {
    height: 100%;

    >img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    background-color: #000;
  }

  >.post-actions {
    position: absolute;

    @include mobile {
      bottom: 90px;
    }

    bottom: 0;
    height: 200px;
    right: 0;
    padding: 1rem;
    z-index: 1;

    .buttons {
      height: 100%;
      justify-content: end;
      flex-direction: column;
    }
  }

  >.post-content {
    position: absolute;

    @include mobile {
      height: 90px;
    }

    height: 200px;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    backdrop-filter: blur(4px);

    >.author {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      img {
        border-radius: 50%;
        aspect-ratio: 1 / 1;
      }

      >.author-name {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    >.post-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }

  &+.post-container {
    margin-top: 0.75rem;
  }
}