#post-container {
  height: 100%;
  position: relative;

  >.post-media {
    height: 100%;

    >img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    background-color: #000;
  }

  >.post-actions {
    position: absolute;

    @include mobile {
      bottom: 90px;
    }

    bottom: 200px;
    height: 200px;
    right: 0;
    padding: 1rem;

    .buttons {
      height: 100%;
      justify-content: end;
      flex-direction: column;
    }
  }

  >.post-content {
    position: absolute;

    @include mobile {
      height: 90px;
    }

    height: 200px;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    backdrop-filter: blur(4px);

    >.author {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      >img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      >.author-name {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    >.post-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
}
