main.section {
    --bulma-section-padding: 1.5rem;
}

@media screen and (max-width: 768px) {
    footer.footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0;
    }
}

#create-post {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
