#settings-wrapper {
  height: 100%;

  .settings-tabs {
    position: sticky;
    top: 0;
    background-color: var(--bulma-scheme-main);
    z-index: 1;

    @include mobile {
      >.tabs {
        >ul {
          justify-content: center;
        }
      }
    }
  }

  .image>.is-rounded {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }
}