html {
  overflow: auto !important;
  font-family: "JetBrains Mono", sans-serif;
  font-optical-sizing: auto;

  main {
    position: relative;
    overflow: auto;
    height: calc(100vh - var(--bulma-navbar-height));

    @include mobile {
      height: calc(100vh - var(--bulma-navbar-height) - 40px);
    }

    &.container {
      @include mobile {
        position: static;
      }
    }
  }

  @include mobile {
    footer.footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 0;
    }
  }
}