html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  color: $primary-color;
  background-color: $secondary-color;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  margin: 0;
  padding: 0;
}
